*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right,#000000,#000000);
    background-position: center;
    background-size: cover;
    position: absolute;
    
}

.formbox{
    width: 400px;
    height: 300px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px #000000;
}

.input{
    top: 50px;
    left: 10%;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.inputfield{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.inputfield:hover{
    background-color: #808080;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    
}
.submitbutton{
   
    width: 105%;
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    background: linear-gradient(to right,greenyellow,greenyellow);
    border: 1;
    outline: none;
    border-radius: 40px;
}