*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.background{
    height: 150%;
    width: 100%;
    background-image: url("cabmain.jfif");
    background-size: contain;
    background-position: center;
    position: absolute;
    
}

.formbox{
    width: 500px;
    height: 690px;
    position: absolute;
    left: 50%;
    top: 0%;
    margin: 5% auto;
/*    background: white;*/
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px #000000;
    overflow: hidden;
}

.buttonbox{
    width: 270px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 15px 0px orange;
    border-radius: 30px;    
}
.button{
    padding: 10px 21px;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: white;
    position: relative;
    outline: none;
}
.label{
    position: relative;
    color: red;
    left: 31%;
    top: 0%;
    font-family: cursive;
}

.input{
    top: 100px;
    position: absolute;
    width: 90%;
    transition: .4s;
    color: black;
}

.inputfield{
    width: 90%;
    font-size: 15px;
    margin: 4% 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    padding: 10px;
    background: transparent;
    color: white;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 95px;
    height: 100%;
    background: linear-gradient(to right,yellow,orangered);
    border-radius: 30px;
    transition: .4s;
}

.inputfield:hover{
    background-color:white;
    color: black;
    cursor: pointer;
    border-radius: 20px;
}

.submitbutton{
    position: absolute;
    left: 10%;
    top: 100%;
    width: 70%;
    padding: 10px 20px;
    cursor: pointer;
    margin: auto;
    background: linear-gradient(to right,yellow,orangered);
    border: 1px;
    outline: none;
    border-radius: 40px;
    
}

#local{
   left: 550px; 
}

#oneway{
   left: 50px; 
}

#outstation{
  left: 550px;  
}